<%- include('../partials/boilerplate') %>
<body class="profile">
    <div class ="main-center">
        <h1 class = "profile-header"> Welcome, <%=user.name %></h1>
        <form class = "profile-app" style ="text-decoration: none; 
            color: rgb(255, 255, 255); font-size: 35px;"action="/warriors/profile/<%= user.id %>?_method=PUT" method="POST">
            Name: <input class ="profile-input" type="text" name="name" value=<%=user.name%> /> <br> <br>
            Username: <input class ="profile-input" type="text" name="username" value=<%=user.username%> /> <br> <br>
            Password: <input class ="profile-input" type="text" name="password" value=<%=user.password%> /> <br> <br>
            <h1 class="profile-spaceship">PICK YOUR SPACESHIP</h1>
            <div>
                <p class = "weapon-picture">   
                    <img style = "width:250px;" src="../../images/unsc.jpg" alt="UNSC">
                    <img style = "width:250px;" src="../../images/battlestar.jpg" alt="battlestar">
                    <img style = "width:250px;" src="../../images/falcon.jpg" alt="Falcon">
                </p>
            </div>
            <select class ="space-size" name="spaceshipId">
                <% for (let i = 0; i < spaceships.length; i++) { %>
                    <option class ="space-input" value="<%= spaceships[i].id %>"><%= spaceships[i].name %></option>
                    <% } %>
                </select><br> <br>
                <h1 class="profile-weapon">PICK YOUR WEAPON</h1>
                <div>
                    <p class = "weapon-picture">   
                        <img style = "width:200px;" src="../../images/ak47.jpg" alt="Ak47">
                        <img style = "width:200px;" src="../../images/FN.jpg" alt="FN-Scar">
                        <img style = "width:200px;" src="../../images/m13.jpg" alt="M13">
                        <img style = "width:200px;" src="../../images/p90.jpg" alt="P90">
                        <img style = "width:200px;" src="../../images/r9.jpg" alt="R9">
                        <img style = "width:200px;" src="../../images/dragunov.jpg" alt="Dragunov">
                        <img style = "width:200px;" src="../../images/rpg.jpg" alt="RPG">
                    </p>
                    
                </div>
            <select class ="space-size" name="weaponId">
                <% for (let i = 0; i < weapons.length; i++) { %>
                    <option class ="weapon-input" value="<%= weapons[i].id %>"><%= weapons[i].name %></option>
                <% } %>
            </select><br> <br>
    
            <input class = "profile-update" type="submit" value="UPDATE YOUR WARRIOR!" /><br> <br>
        </form>
        
        <form action="/warriors/<%= user.id %>?_method=DELETE" method="POST">
            <input class = "profile-delete" type="submit" value="DELETE YOUR WARRIOR" />
        </form>
    
        
    </div>
</body>
</html>